
<div class="loginContainer">
    <div class="login">
        <!--login组件-导航栏-->
        <div class="navBar">
            <i class="icon-home icon-large"></i>
        </div>
        <!--login组件-登录-->
        <div class="loginPage">
            <div class="userCover">
                <img class="img" src="/file/cover_goodlook.png">
            </div>
            <form class="loginInput">
                <div class="inputDiv"><label class="icon-github"><input class="userName"></label></div>
                <div class="inputDiv"><label class="icon-lock"><input class="userPassword"></label></div>
            </form>
        </div>


        <!--login组件-注册-->
        <div class="registerPage">
            <img class="img" src="">
            <form class="registerInput">
                <div class="inputDiv"><label class="icon-github"><input class="userName"></label></div>
                <div class="inputDiv"><label class="icon-lock"><input class="userPassword"></label></div>
                <div class="inputDiv"><label class="icon-mobile-phone"><input class="userPhone"></label></div>
                <div class="inputDiv"><label class="icon-envelope"><input class="userMail"></label></div>
            </form>
        </div>

        <!--login组件-用户详情-->
        <div class="userDtailPage">
            <div class="userCover">
                <img class="img" src="">
            </div>
        </div>

        <!--&lt;!&ndash;photo组件背面&ndash;&gt;-->
        <!--<div class="photoBack">-->
            <!--<div class="photoBackLeft">-->
                <!--<div class="music"><label class="musicTitle title">音乐列表</label>-->
                    <!--<ul class="musicList"></ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="cut-line-v"></div>-->
            <!--<div class="photoBackRight">-->
                <!--<div class="imgInfo"><label class="infoTtile title">人物说明</label>-->
                    <!--<p class="peopleInfo"></p>-->
                <!--</div>-->
                <!--<div class="comment"><label class="commentTitle title">评论</label>-->
                    <!--<ul class="commentList"></ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>