
<div class="loginContainer loginHidden">
    <div class="login">

        <!--login组件-登录-->
        <div class="loginPage">
            <div class="userCover">
                <img class="img" src="/file/cover_goodlook.png">
            </div>
            <form class="loginForm" id="loginForm">
                <div class="inputDiv"><label class="icon-github">
                    <input class="userName" name="photomeUserUsername"></label></div>
                <div class="inputDiv"><label class="icon-lock">
                    <input class="userPassword" name="photomeUserUserpassword" type="password"></label></div>
                <div class="loginBtnDiv">
                    <input class="loginBtn" type="button" value="LogIn">
                </div>
            </form>
        </div>


        <!--login组件-注册-->
        <div class="registerPage">
            <img class="img" src="">
            <form class="registerForm" id="registerForm">
                <div class="inputDiv"><label class="icon-github">
                    <input class="userName" name="photomeUserUsername"></label></div>
                <div class="inputDiv"><label class="icon-lock">
                    <input class="userPassword" name="photomeUserUserpassword" type="password"></label></div>
                <div class="inputDiv"><label class="icon-tablet">
                    <input class="userPhone" name="photomeUserUserphone"></label></div>
                <div class="inputDiv"><label class="icon-envelope">
                    <input class="userMail" name="photomeUserUsermail"></label></div>
                <div class="registerBtnDiv">
                    <input class="registerBtn" type="button" value="Register">
                </div>
            </form>
        </div>

        <!--login组件-用户详情-->
        <div class="userDetailPage">
            <!--用户头像-->
            <div class="userCover">
                <img class="img" id="img" src="">
                <div class="inputDiv">
                    <input class="userName" readonly="readonly"><i class="editIcon icon-edit"></i>
                </div>
                <!--<div class="userDetailEdit"><i class="editIcon icon-edit"></i></div>-->
                <form class="coverForm userEditForm" hidden="hidden">
                    <div class="inputDiv"><label class="icon-picture"></label>
                        <input class="userCoverInput" id="userCoverInput" type="file" name="photomeUserphotoPhotoname" >
                        <input class="photoUrl" name="photomeUserphotoPhotourl" hidden="hidden">
                    </div>
                </form>
            </div>


            <!--用户音乐-->
            <div class="music detailMusic">
                <label class="musicTitle title">音乐列表<i class="editIconGroup editMusic"></i></label>
                <div class="inputDiv"><label class="icon-music">
                    <input class="musicList" readonly="readonly" >
                    <input class="musicListUrl" hidden="hidden">
                </label></div>
                <form class="musicForm userEditForm" hidden="hidden">
                    <div class="inputDiv"><label class="icon-music">
                        <input class="addMusicName" name="photomeUsermusicMusicname">
                        <input class="addMusicUrl" name="photomeUsermusicMusicurl" hidden="hidden">
                        <input class="addMusicDuration" name="photomeUsermusicMusicduration" hidden="hidden">
                        <input class="addMusicSize" name="photomeUsermusicMusicsize" hidden="hidden">
                        <input class="addMusicImg" name="photomeUsermusicMusicimg" hidden="hidden">
                        <input class="addMusicLrc" name="photomeUsermusicMusiclrc" hidden="hidden">
                        <input class="addMusicCode" name="photomeUsermusicMusiccode" hidden="hidden">
                    </label></div>
                    <div class="inputDiv"><label class="icon-music">
                        <input class="addMusicSinger" name="photomeUsermusicMusicsinger">
                    </label></div>
                    <div class="inputDiv"><label class="icon-music">
                        <input class="addMusicAlbum" name="photomeUsermusicMusicalbum">
                    </label></div>
                </form>
            </div>
            <!--用户说明-->
            <!--<div class="cut-line-h"></div>-->
            <div class="peopleInfo">
                <label class="infoTtile title">人物说明<i class="editIconGroup editInfo"></i></label>
                <form class="peopleInfoForm userEditForm" >
                    <div class="inputDiv"><input class="editInfoInput" name="photomeUserdetailUserintroduction" readonly="readonly"></div>
                </form>
            </div>
            <!--用户评论-->
            <!--<div class="cut-line-h"></div>-->
            <div class="comment"><label class="commentTitle title">评论</label>
            <ul class="commentList"></ul></div>
        </div>

        <!--login组件-导航栏-->
        <div class="navBar">
            <i class="icon-home icon-large"></i>
            <i class="icon-user toLoginBtn"></i>
            <i class="icon-group toRegisterBtn"></i>
            <i class="icon-off icon-large"></i>
        </div>

    </div>
</div>