
<section >
    <!--body-->
    <div class="photoContainer">
        <div class="photo">
            <div class="photoHead">
                <img class="img" src="">
                <div class="imgInfo">
                </div>
            </div>
            <div class="photoBody">
                <div class="music">
                    <ul class="musicList">
                    </ul>
                </div>
            </div>
            <div class="photoFoot">
                <div class="comment">
                    <ul class="commentList">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>