
<section >
    <!--body-->
    <div class="photoContainer">
        <div class="photo">

            <!--photo组件正面-->
            <div class="photoFront">
                <img class="img" src="">
            </div>

            <!--photo组件背面-->
            <div class="photoBack">
                <div class="photoBackLeft">
                    <div class="music"><label class="musicTitle title">音乐列表</label>
                        <ul class="musicList"></ul>
                    </div>
                </div>
                <div class="cut-line-v"></div>
                <div class="photoBackRight">
                    <div class="imgInfo"><label class="infoTtile title">人物说明</label>
                        <p class="peopleInfo"></p>
                    </div>
                    <div class="comment"><label class="commentTitle title">评论</label>
                        <ul class="commentList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>