.loginContainer{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    /*width: 15%;*/
    height: 100%;
    transition: 0.5s ease-in-out;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #5bc0de;
}

.login img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.inputDiv{
    width: 150px;
    height: 30px;
    border-bottom: 1px solid #eee;
}
.inputDiv:focus{
    border-bottom: 1px solid #00CCFF;
}
input,#userCoverInput,input[type="password"],input[readonly]{
    width: 100px;
    border: 0;
    position: relative;
    /*left: 10%;*/
    background-color: transparent;
}
input:focus,input[type="password"]:focus{
    outline-color:transparent;
}

/*隐藏、显示动画*/
.loginShow{
    transform: translate3d(0,0,0);
}
.loginHidden{
    transform: translate3d(-85%,0,0);
}

.loginBtnDiv,.registerBtnDiv{
    width: 150px;
    background-color: #0099FF;
    border-radius: 2px;
    text-align: center;
}

.navBar{
    display: flex;
    flex-direction: column;
}
.navBar i{
    margin: 0 auto 10px;
}
