
<section id="home">
    <!--header-->
    <div class="modal-header">
        <audio  id="backgroundMusic" src="" controls="controls" autoplay="autoplay" loop="loop"></audio>
    </div>

    <!--body-->
    <div class="modal-body" id="homeBody">

        <!--<div class="homeContent">-->
            <!--<div class="photo1 photo">-->
                <!--<div class="photoHead">-->
                    <!--<img class="img-home" src="../file/east_library.jpg">-->
                    <!--<p class="introduction">这是我的大学图书馆</p>-->
                <!--</div>-->
                <!--<div class="photoBody">-->
                    <!--音乐列表-->
                    <!--<ul class="musicList">-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="photoFoot">-->
                    <!--<i class="icon-comment"></i>-->
                    <!--<ul class="comment">-->
                        <!--<li class="comment1">这是个好人</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!--footer-->
    <div class="modal-footer">
    </div>
</section>